<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Ingrédient</th>
        <th scope="col">Quantité</th>
        <th scope="col">Date de péremption</th>
        <th scope="col">Rangement</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Poireaux</td>
        <td>2</td>
        <td></td>
        <td>Frigo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Emmental Râpé</td>
        <td>200g</td>
        <td>18/02/2024</td>
        <td>Frigo</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Farine de blé</td>
        <td>1 kg</td>
        <td>18/02/2027</td>
        <td>Placard</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Glaces</td>
        <td>6 cornets</td>
        <td>18/02/2025</td>
        <td>Freezer</td>
    </tr>
    </tbody>
</table>
